census_folium_tutorial.ipynb
county_and_census_table_test.csv
county_and_census_table.csv
county_data_component.csv
county_shapefile_component.csv
geckodriver.log
test_zip_0.csv
test_zip_1.csv
zip_and_census_table.geojson
__pycache__/census_folium_viewer.cpython-39.pyc
census_folium_tutorial_v2.ipynb
sample_county_shapefile.csv
census_folium_maps/zip_married_couples_with_kids.html
census_folium_maps/zip_median_hh_income.html
tl_2020_us_state/tl_2020_us_state.cpg
tl_2020_us_state/tl_2020_us_state.dbf
tl_2020_us_state/tl_2020_us_state.prj
tl_2020_us_state/tl_2020_us_state.shp
tl_2020_us_state/tl_2020_us_state.shp.ea.iso.xml
tl_2020_us_state/tl_2020_us_state.shp.iso.xml
tl_2020_us_state/tl_2020_us_state.shx
census_folium_maps/married_couples_with_kids.html
census_folium_tutorial_v3.ipynb
census_folium_tutorial_v30.ipynb
float_image_test.ipynb
test_image.png
test_svg.svg
test_fig.png
map_error.jpg
test_map.html
census_folium_maps/test_map_2.html
test_legend.svg
test_legend.png
test_map_2.html
horizontal_test_legend.png
horizontal_test_legend.svg
vertical_test_legend.png
vertical_test_legend.svg
census_folium_map_screenshots/test_map_2.png
census_folium_maps/map_legends/test_map_2_legend.png
float_image_test_v2.ipynb
census_folium_map_screenshots/test_map_3.png
census_folium_tutorial_v4.ipynb
census_folium_tutorial_v4_old.ipynb
test_map_2_legend.png
test_map_2_legend.svg
test_map_3_legend.svg
test_map_3.html
zip_married_couples_with_kids.html
zip_pct_with_bachelors_or_higher.html
zip_pct_with_bachelors_or_higher_2.html
zip_median_hh_income.html
copy_paste_space.py
acs5_2015_2020_zip_pop_growth_legend.svg
acs5_2015_2020_zip_pop_growth.html
zip_married_couples_with_kids_legend.svg
zip_median_hh_income_legend.svg
zip_married_couples_with_kids_legend.svg
zip_median_hh_income_legend.svg
__pycache__/census_folium_viewer.cpython-310.pyc
zip_median_hh_income_legend.svg
zip_married_couples_with_kids_legend.svg
zip_and_census_table.csv
zip_and_census_table_test.csv
zip_and_census_table_drona_test.csv

zip_median_hh_income_acs5_2021.html
zip_median_hh_income_acs5_2019_legend.svg
.gitignore
zip_median_hh_income_acs5_2019.html
zip_median_hh_income_acs5_2021_legend.svg
zip_married_couples_with_kids_acs5_2019.html
zip_pct_with_bachelors_or_higher_acs5_2019.html
zip_pct_with_bachelors_or_higher_acs5_2019_legend.svg
zip_married_couples_with_kids_acs5_2019_legend.svg
__pycache__/census_folium_viewer.cpython-310.pyc
__pycache__/census_folium_viewer.cpython-310.pyc
census_folium_maps/zip_marriage_prevalence_in_households_with_kids_acs5_2021_legend.svg
census_folium_maps/zip_marriage_prevalence_in_households_with_kids_acs5_2021.html
census_folium_maps/zip_married_couples_with_kids_acs5_2021.html
census_folium_maps/zip_married_couples_with_kids_acs5_2021_legend.svg
census_folium_maps/acs5_2016_2021_zip_pop_growth_legend.svg
census_folium_maps/acs5_2016_2021_zip_pop_growth.html
census_folium_maps/zip_median_home_value_acs5_2021.html
census_folium_maps/zip_median_home_value_acs5_2021_legend.svg
census_folium_maps/zip_median_income_vs_home_value_acs5_2021.html
census_folium_maps/zip_median_income_vs_home_value_acs5_2021_legend.svg
census_folium_maps/acs5_2011_2021_zip_median_home_val_growth_legend.svg
census_folium_maps/acs5_2011_2021_zip_median_home_val_growth.html
census_folium_maps/acs5_2016_2021_zip_median_home_val_growth_legend.svg
census_folium_maps/acs5_2016_2021_zip_median_home_val_growth.html
census_folium_maps/zip_pct_giving_birth_acs5_2021.html
census_folium_maps/zip_pct_giving_birth_acs5_2021_legend.svg
